<div class="nav-bar"></div>
<div class="inbody">

<div class="excursionsList">
	
        <div  ng-include="'partials/select.html'"></div>

	<p>Number of matches {{excursions.length}}</p>

	<div class="excursion" ng-repeat="excursion in excursions">
		
		<div class="image">
			<img ng-src="{{excursion.images[0]}}" />
			<a ng-href="index.html#/excursion/{{excursion.id}}"><div class="overlay"></div></a>
			<h3 class="price">Adult £ {{excursion.AdultPrice}}</h3>
			<span class="location">foto by @R_Fenn, yesterday</span>
		</div>
		<h2><a ng-href="index.html#/excursion/{{excursion.id}}">{{excursion.ExcursionName}}</a></h2>
		<p>Happening {{excursion.OperationDays}}</p>

	</div>
</div>
</div>