<div class="nav-bar nav-empty">
	<a href="/app/index.html#/excursions" class="back">back</a>
	<div class="nav-title">{{excursion.ExcursionName}}</div>
</div>
<div style="padding-top:70px">

<div class="excursion" ng-show="true" ng-animate="'mycss-animation'" >

	<div class="imagebig"> 
		<img ng-src="{{excursion.images[0]}}"  />
		<a href="#/panorama"><div class="overlay"></div></a>
		<span class="location">foto by @R_Fenn, yesterday</span>
	</div>
	<h3 class="price">Adult £ {{excursion.AdultPrice}}</h3>
	

	<span class="rating">{{excursion.rating.value}}/5 from {{excursion.rating.number}} reviews</span>

	<p>{{excursion.OperationDays}}</p>

</div>
