<div class="nav-bar"></div>
<div class="inbody">
<div class="homeWeather">
	<h1>Good morning Martin. What would you like to do on this 28°C rainy day?</h1>
</div>
    <div  ng-include="'partials/select.html'"></div>

	<div class="excursionsList">




	<p>Number of matches {{excursions.length}}</p>

	<div class="excursion"  ng-animate="'excursionsAnimate'" ng-repeat="excursion in excursions">
		
		<div class="image">
			<img ng-src="{{excursion.images[0]}}" />
			<a ng-href="index.html#/excursion/{{excursion.id}}"><div class="overlay"></div></a>
			<h3 class="price">ADULT £{{excursion.AdultPrice}}</h3>
			<span class="location">foto by @R_Fenn, yesterday</span>
		</div>
		<h2><a ng-href="index.html#/excursion/{{excursion.id}}">{{excursion.ExcursionName}}</a></h2>
		<p>Happening {{excursion.OperationDays}}</p>
		<hr>
	</div>
</div>
</div>