<div ng-controller="ExcursionSelect" class="excusionSelect">
<p>I would like to do something  <button type="button" class="btn btn-default" ng-click="typeClick()">{{type}}</button> for <button type="button" class="btn btn-default" ng-click="priceClick(null, 0)">{{price.name}}</button> per person for <button type="button" class="btn btn-default" >Half a day</button> near <button type="button" class="btn btn-default" >Town center</button>

</p><br/>

<img class="downArrow" src="img/downArrow.png" />


</div>